body {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    max-width: 100vw;
    width: 100vw;
}

section {
    background: linear-gradient(180deg, #121212 17.50%, #39342E 55.52%, #121212 94.35%);
    background-size: cover;
    max-width: 100vw;
    
}

/* nav css*/
nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    /* margin: auto; */
    vertical-align: top;
    width: 100vw;
    background-color: #121212;
    z-index: 1;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
}

.logoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    /* scale: .8; */
    /* padding: 15px; */
    vertical-align: middle;
    gap: 2vw;
}

.logoImg img {
    /* position: sticky; */
    width: inherit;
    height: inherit;
}

.logo p {
    font-weight: 300;
    font-size: 150%;
    background: var(--led-light-2, radial-gradient(107.67% 107.67% at 49.30% 1.26%, #FFF 0%, #FFF9E6 27.56%, #FFF 54.68%, #FFF9E6 80.93%, #FFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.options {
    padding-right: 40px;
}

.options ul {
    display: inline-block;
    gap: 20px;
}

.options ul li {
    display: inline-block;
    font-size: 24px;
    padding: 30px;
}

.options li:hover {
    font-weight: bold;
    background: radial-gradient(67.25% 143.89% at 50.03% 43.73%, #FFF 0%, #FFF3CA 16.67%, #FFF 33.33%, #FFF2C4 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25), 0px 0px 20px #FFF;
}

/*home page content*/

.home {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 80px 5% 0 5%;
}

#cluster {
    /* margin: 0 auto; */
    width: 50%;
}

#cluster img {
    width: 100%;
    height: 80vh;
}

.divider {
    height: 400px;
    width: 2px;
    /*position: absolute;
    left: 718px;*/
}

.homeContent {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 42px;
    /* align-self: stretch; */
    height: 100%;
    width: 50%;
    /* margin: 0 auto; */
}

.text {
    /* display: flex;
    height: auto;-
    padding: 20px; */
    display: flex;
    width: 100%;
    /* height: 181px; */
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.text p {
    font-family: 'Josefin Sans', Sans-Serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 120% */
}

.julieNg {
    scale: .5;
    position: absolute;
    top: 1vh;
    left: 1vw;
    z-index: 1;
}

#julieNgText {
    background: radial-gradient(67.25% 143.89% at 50.03% 43.73%, #FFF 0%, #FFF3CA 16.67%, #FFF 33.33%, #FFF2C4 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25), 0px 0px 20px #FFF;
}

.arrow {
    position: absolute;
    top: 65vh;
    left: 65%;
    
}

#arrowMain {
    position: absolute;
    left: 65%;
    animation: bounceArrow 3s infinite;
}
@keyframes bounceArrow {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(0px, 60px, 0px);
    }
    75% {
        transform: translate3d(0px, 60px, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
  }

#afterImage {
    position: absolute;
    left: 65%;
    animation: bounceAfterimage 3s infinite;
}

@keyframes bounceAfterimage {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(0px, 0px, 0px);
    }
    75% {
        transform: translate3d(0px, 60px, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
  }

/*About CSS* /
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.abouth1 {
    padding-left: 10vh;
    align-self: first baseline;
    /* margin-left: ; * /
}

.abouth1 h1 {
    font-size: 60px;
    font-weight: normal;
}

.aboutContent {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 0 10% 0 10%; * /
}

.myPicture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 1%;
}

.myPicture img {
    height: inherit;
}

.aboutDivider {
    width: 20px;
    padding: 0 20px 0 20px;
    text-align: center;
} 

.aboutDivider img {
    height: 100%;
    width: 2px;
}

.aboutText {
    width: 50%;
}

.aboutText p {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
*/

/*My Skills page*/

.mySkills {
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}
.content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20%;
}
.title {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
}

h1 {
    background: radial-gradient(67.25% 143.89% at 50.03% 43.73%, #FFF 0%, #FFF3CA 16.67%, #FFF 33.33%, #FFF2C4 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25), 0px 0px 20px #FFF;
    font-size: 40px;
}

.mySkillsContent {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    min-width: fit-content;
    /* width: 90vw; */
    padding: 20px;
    gap: 50px;
    margin: 0 5vw 0 5vw;
}

.card {
    /* gap: 50px; */
    height: fit-content;
}

.textFrame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
    width: 300px;
    height: 40vh;
    padding: 5%;
    padding-top: 30px;
    gap: 4px;
    border-radius: 20px;
    border: 1px solid #FF981E;
    background: linear-gradient(180deg, #F57500 0%, rgba(245, 117, 0, 0.36) 100%);

    /* skill cards */
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.20) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.textFrame h4 {
    font-size: 32px;
    margin: 0 auto;
    width: 100%;
}

.textFrame ul, .textFrame ul li {
    height: fit-content;
    line-height: 24px;
    width: 100%;
}

.shadow {
    display: flex;
    width: 330px;
    height: 80px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    border-radius: 20px;
    background: var(--floating-shadow, radial-gradient(67.55% 50.00% at 50.00% 50.00%, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%));
}

/*My Work page*/

.myWork {
    height: fit-content;
}
.myWorkContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 10vw 0 10vw; */
    width: 100vw;
}

/* .myWorkTitle {
    padding: 20px;
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
} */

.myWorkGrid {
    width: 75vw;
    height: fit-content;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "CS1h3 CS1h3 CS1Image CS1Image"
        "CS1Descript CS1Descript CS1Image CS1Image"
        "CS2Image CS2Image CS2h3 CS2h3"
        "CS2Image CS2Image CS2Descript CS2Descript";
    border-width: 3px;
    border-color: white;
}

.mWCGridArea {
    width: 35vw;
    /* height: fit-content;
    min-height: 300px; */
}

#CS1Title {
    grid-area: CS1h3;
    height: fit-content;
}

.CS1h3 h3:hover {
    background: radial-gradient(67.25% 143.89% at 50.03% 43.73%, #FFF 0%, #FFF3CA 16.67%, #FFF 33.33%, #FFF2C4 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25), 0px 0px 20px #FFF;
    text-decoration: none;
}

#CS1Descript {
    grid-area: CS1Descript;
    height: 10vh;
    font-size: 20px;
    line-height: 28px;
}

#CS1Image {
    grid-area: CS1Image;
    background-image: url("../images/CaseStudy-RNH.png");
    height: 600px;
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
}


#CS2Title {
    grid-area: CS2h3;
    height: fit-content;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

/* #CS2Title:hover {
    background: radial-gradient(67.25% 143.89% at 50.03% 43.73%, #FFF 0%, #FFF3CA 16.67%, #FFF 33.33%, #FFF2C4 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25), 0px 0px 20px #FFF;
} */

#CS2Descript {
    grid-area: CS2Descript;
    height: 10vh;
    font-size: 20px;
    line-height: 28px;
}

#CS2Image {
    grid-area: CS2Image;
    background-image: url("../images/CaseStudy-CBSA.png");
    height: 600px;
    background-size:contain;
    background-repeat: no-repeat;
}

.CS1h3, .CS2h3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 32px;
}

footer {
    background: linear-gradient(180deg, rgba(178, 166, 153, 0.20) 0%, rgba(178, 166, 153, 0.00) 100%), linear-gradient(180deg, #121212 17.50%, #39342E 55.52%, #121212 94.35%);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 20vh;
}

/* .Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.email {
    display: flex;
    flex-direction: row;
}

.emailIcon, .instagram, .linkedin{
    width: 40px;
}

@media only screen and (min-width: 0px) {
    .clusterimg {
        display: none;
    }
    .options ul {
        display: none;
    }
    .mySkillsContent {
        flex-direction: column;
    }
    .mySkills {
        height: fit-content;
    }
}

@media only screen and (min-width: 700px) {
    .clusterimg {

    }
    .options ul {
        display: inline-block;
    }
    .options img {
        display: none;
    }
    .mySkillsContent {
        flex-direction: row;
    }
}